<div>
    <h4 style="color:forestgreen;text-align: center;">
        <%= __('Customer Information') %>
    </h4>

    <div class="row" style="align-content: center;text-align: center">

        <div class="col-sm-6">
            <Label> <%= __('Name') %> </label>
            <Input type="text" class="form-control" id="name" name="name"
                   value="<% if (typeof user == 'object' && user) {} %>" disabled>
        </div>



            <div class="col-sm-6">
                <Label> <%= __('Email') %> </label>
                <Input type="text" class="form-control" id="email" name="email"

                       value="<% if (typeof user == 'object' && user) {} %>" disabled>
            </div>

        </div>
                    

    </div>


</div>