<html>

<h3>Ymple E-Commerce Solution</h3>

<p style="color: red;"> Error settings mongodb</p>

<p> The mongodb instance is not running </p>

<p>To start to use this installation check the configuration mongodb in the file <b>"config/connections.js"</b>
    and check the parameter <b>"mongodbServer"</b> </p>

<p> Then restart the node application</p>
</html>