<div class="row" style="border: 1px solid forestgreen;">
    <div class="col-sm-6" style="text-align: center;margin-top: 20px;">

        <h4 style="color: forestgreen;">Paypal Payment</h4>
               
    </div>

    <div class="col-sm-6" style="text-align: center;">
               
        <a href="/payment/paypal/pay/<%= orderReference %>"><img src="/images/express-checkout-paypal.png" style="max-width: 150px"></a>

    </div>

</div>
